@model Drink

   <div class="col-sm-4 col-lg-4 col-md-4 align">
            <div class="img-thumbnail">
                <img src="@Model.ImageThumbnailUrl" alt="" class="img-fluid" />
                <div class="figure-caption">
                    <h4 class="float-right">@Model.Price.ToString("c")</h4>
                    <h4 class="text-info">
                        <a>@Model.Name</a>
                    </h4>
                    <p>@Model.ShortDescription</p>
                </div>
                <div class=" addToCart text-right">
                    <p class="btn">
                        <a class="btn-success" id="cartButton"
                           asp-controller="ShoppingCarts"
                           asp-action="AddToShoppingCart"
                           asp-route-drinkId="@Model.Id">
                            @**Or asp-route-Id*@
                            Add to cart
                        </a>
                    </p>
                </div>
            </div>
        </div>
